{% extends "base.html" %}

{% block title %}Login Usuario{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
    <div class="mb-3"><label>Email</label><input type="email" name="email" class="form-control" required></div>
    <div class="mb-3"><label>Contraseña</label><input type="password" name="password" class="form-control" required></div>
    <button class="btn btn-primary" type="submit">Ingresar</button>
</form>
<hr>
<a href="{{ url_for('registro') }}">Registrarse</a>
{% endblock %}
